


.divspotregistration {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    align-items: baseline;
    padding: 20px;
    flex-wrap: wrap;
    background-color: rgb(244, 246, 234, 0.8);
    border-radius: 10px;
    width: 60vw;
    margin: 50px auto; 
    gap: 20px;
    padding-top: 15px
  }

  .pspotregistration{
    /* padding-top: 10px; */
padding-bottom: 20px;
color:#5a5a5c;

  }

  .pspotregistration:hover{

color:#050f68;
text-decoration:underline
  }
  .imgh1spotregistration{
  
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: center;
      padding-left: 36px;
      padding-right: 36px;
      row-gap: 20px;
  }
  .logotripflowformsignup{
    top: 40px;
    right: 40px;
     height: 95px;
   /* width: 500px; */
  }
  
  .imgh1spotregistration{
  
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;  /* padding-left: 36px;
    padding-right: 36px;
    row-gap: 20px;
   */
  }
  .formspotregistration {
    /* display: flex;
    flex-direction: column;
    align-items: first baseline; */
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: baseline;
    justify-content: space-evenly;
    padding: 20px 10px 20px 30px;
    /* row-gap: 20px; */
    width: 50vw;
    color: #11153a;
    
}

.geolocalizacao{
  width:200px;
  font-size:14px;
  font-weight: bold;
padding-left:20px;
/* padding-bottom: 10px */
}
.textspotregistration{
  min-width: 820px;
  border-style: none;
  min-height: 40px;
  padding-right: 20px;
}

   
.referencepoint {
  width: 148px;
}
/* 
.avaliacao {
  min-width: 165px; */
  /* margin-right: 120px */
/* 
} */
.cepspotregistration{
  width: 30px
}
/* .latlong{
  padding-top: 15px
} */

.formspotregistration input{
  min-height: 20PX;
min-width: 180PX;
}

.formspotregistration select{
  min-height: 20PX;
min-width: 185PX;
}

  .inputsdivspotregistration {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr ;
    /* margin-bottom: 20px; */
    align-items: end;
        gap: 30px;
  }

  .inputsdivspotregistrationll {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: end;
        gap: 120px;
  }
  .inputsdivspotregistrationlatlon {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: end;
        gap: 20px;
        Margin-top: 10px
  }

  label {
        display: flex;
    flex-direction: column;
    padding: 0 10px 10px 0;}

  .labeloption {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
  }

  .labeloption2 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 200px;
  }


  .inputspotregistration, .inputspotregistration2, .textspotregistration, select {
    margin-top: 5px;
  }

 
  .inputspotregistration2 {
    width: 595px;
    }
    .inputspotregistration3 {
      width: 375px;
      }

  .inputspotregistration {
  
    /* border-radius: 5px;
    border: 1px solid #ddd; */
    min-width: 370px;
  }
  
  .spotregistration {
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
  }
  
  .h1spotregistration {
      font-size: 2.5em;
      color: #114a4f;
      padding-left: 170px;
      /* padding: 40px; */
  }
/*   
  .btns{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
      } */

    .btnspotregistration {
        padding-left: 36px;
        padding-right: 36px;
        min-height: 40px;
        margin-top: 35px;
        background-color: #184E77; /* Define a transparência inicial */
  
        margin-right: 70px;
        min-width: 300px;
        /* border: 2px solid #000;  */
        /* Adiciona uma borda */
  
        /* backg#eef7d2;round-color: rgba(9, 93, 51, 0.8);  */
        color:rgb(244, 246, 234);;
        box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Adiciona um efeito 3D */
        transition: background-color 0.4s, transform 0.4s; /* Adiciona transições suaves */
        cursor: pointer; /* Adiciona o ponteiro */
        width:fit-content
    }
    
    .btnspotregistration:hover {
        background-color: rgba(9, 93, 51, 0.8);  
    
        /* Aumenta a opacidade ao passar o mouse */
        transform: translateY(-1px); /* Adiciona um leve efeito de elevação */
    }

    