/* .card-categoria {
    display: flex;
    flex-direction: column;
    width: fit-content;    
    align-items: center    
} */

.card-categorias {
  display: grid;
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(2, 1fr); 
  gap: 15px; 
  padding: 15px;
  background: rgb(239, 243, 222);
  height:fit-content;
  border-radius: 5px;
  margin-left: 80px;
  min-width: 850px;
  color: rgb(13, 38, 57);
}
.card-category{
    background-color:  rgba(40, 57, 13, 0.2);
    min-width: 140px;
    height: 70px;
    display:flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px;
    justify-content: center;
    /* padding-left: 12px;
    padding-right: 10px;
    border-radius: 8px; */
}
.card-category:hover{
    background-color: rgb(13, 38, 57, 0.9);
    color:  rgb(244, 246, 234);
}

.card-categoria-txt {
font-size: small;
text-align: center;
padding-top: 10px;
}

