.counter {
  display: flex;
  align-items: center;
  align-content: center;
  font-size: 0.5rem;
  padding-bottom: 1.25rem;
  padding-top: 7.1875rem;
  margin-left: 2.8125rem;
  gap: 3.4375rem;
  position: fixed;
  top: 6.25rem;
  left: 0.3125rem;
}

.cardCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  border: none;
  background-color: transparent;
  transition: background-color 0.3s ease;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
  margin: 0.625rem;
  margin-top: 1.25rem;
  gap: 2.5rem;
  height: 1.25rem;
  min-width: 6.875rem;
  border-radius: 0.5rem;
  background-color: rgba(72, 97, 116, 0.4);
  box-shadow: 0.1875rem 0.25rem 0.5rem rgba(0, 0, 0, 0.6);
}

.cardCounter p {
  color: #82d5d4;
  font-size: 1.5625rem;
  font-weight: bold;
  margin: 0px;
  text-align: center;
}

@media screen and (max-width: 48rem) {
  .counter {
    position: relative;
    gap: 0.3125rem;
    padding: 0.3125rem;
    margin: 0.3125rem;
  }
}