.counter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 7px;
    padding-bottom: 90px;
    padding-top: 10px;
    margin-left: 30px;
    gap: 20px

}

.cardCounter{
    display: flex;
;
justify-content: center;
align-items: center;
flex-direction: column;
    justify-content: space-between;
        border: none;
        background-color: transparent;
        transition: background-color 0.3s ease;
      padding: 10px;
        margin: 10px;
        margin-top: 20px;
height: 70px;
min-width: 70px;
border-radius: 20px;
background-color: rgb(13, 38, 57, 0.9)
}


/* .cardCounter:hover {
    background-color: rgba(238, 247, 210, 0.8);
color: #0E2C44
} */

.cardCounter p{
    color:  #82D5D4;
    font-size: 25px;
    font-weight: bold;
    margin: 0px;
    text-align: center;
}