.divSignin{
    padding: 40px;
    background-color: #eef7d2;
    margin:20px;
    margin-right: 30px;
    height: 45vw;
}
.formSignin{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 36px;
    row-gap: 20px;

}

input{
    min-height: 20PX;
min-width: 200PX;
}
.imgh1signin{

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
    row-gap: 20px;
}

.h1signin{
color: #184E77;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
padding: 10px;
font-size: 45px;
BOTTOM:8PX
}

.logotripflowformsignin{
    top: 10px;
   right: 5px;
   width: 70px;

}
.btnsignin {
    padding-left: 36px;
    padding-right: 36px;
    min-height: 40px;
    margin: 35px;
    min-width: 220px;
    /* border: 2px solid #000;  */
    /* Adiciona uma borda */
    background-color: #184E77; /* Define a transparência inicial */
    color:#eef7d2;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Adiciona um efeito 3D */
    transition: background-color 0.4s, transform 0.4s; /* Adiciona transições suaves */
    cursor: pointer; /* Adiciona o ponteiro */
}

.btnsignin:hover {
    background-color: rgba(14, 19, 16, 0.8); 
    background-color: rgba(9, 93, 51, 0.8); 
    /* Aumenta a opacidade ao passar o mouse */
    transform: translateY(-1px); /* Adiciona um leve efeito de elevação */
}
/* .btnsignin{
    padding-left: 36px;
    padding-right: 36px;
    min-height: 40PX;
      margin: 35px;
    min-width: 220px;

   background-color: #1DB0C8
} */
/* 
.form-control {
    min-width: 290px;
    width: fit-content;
}
.label{
padding: 30px;
align-content:flex-start
} */

/* .navSignin {
    display: flex;
    flex-direction: column;
align-content: center;
width: 50px;
} */