.divSignin {
  padding: 2.5rem;
  background-color: rgb(239, 243, 222, 0.8);
  margin: 1.25rem;
  margin-right: 12.5rem;
  border-radius: 0.625rem;
}

.formSignin {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  row-gap: 1.25rem;
}

.formSignin input {
  min-height: 1.5625rem;
  min-width: 15.625rem;
  margin-top: 0.625rem;
}

.imgh1signin {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  row-gap: 2.5rem;
  max-height: fit-content;
}

.h1signin {
  color: #113241;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0.625rem;
  font-size: 2.8125rem;
  bottom: 0.5rem;
  padding-bottom: 0.9375rem;
}

.logotripflowformsignin {
  top: 0.625rem;
  right: 0.3125rem;
  width: 4.375rem;
  padding-bottom: 2.1875rem;
}

.formSignin .btnsignin {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  min-height: 2.5rem;
  margin: 1.25rem;
  min-width: 16.875rem;
  background-color: #184e77;
  color: #eef7d2;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s, transform 0.4s;
  cursor: pointer;
}

.btnsignin:hover {
  background-color: rgba(9, 93, 51, 0.8);
  transform: translateY(-0.0625rem);
}

.formSignin .btnsignup {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
  min-height: 1.875rem;
  min-width: 10rem;
  background-color: rgba(14, 19, 16, 0.8);
  color: #eef7d2;
  margin-top: 0.625rem; 
  margin-left: 1.25rem;
  box-shadow: 0.0625rem 0.0625rem 0.1875rem rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s, transform 0.4s;
  cursor: pointer;
  width: fit-content;
}

.btnsignup:hover {
  background-color: rgba(9, 93, 51, 0.8);
  transform: translateY(-0.0625rem);
}

.pSignup {
  margin-top: 1.875rem;
  color: #113241;
}