
.grid-signin {
  display: grid;
  grid-template-areas: 
                        'formsignin imgsignin ';
  grid-template-columns: 65% 35%;
  height: 100vh;
  background-image: url('/public/imgsignin.jpeg');
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
  margin: 0;
}
  

  .divsignin {
    grid-area: divsignin;  
  }

  .imgsignin {
    grid-area: imgsignin;
   
  }



  .grid-signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-image: url('1.jpg');
    background-size: cover;
  }
  
 

 
  /* .grid-signup {
    display: grid;
    grid-template-columns: 65% 35%;
    background-image: url('/public/isign.jpg');
    background-size: cover;
    height: 100vh; 
}

.FormSignup {
    grid-column: 1 / 2;
    background-color: white;
    padding: 20px;
    box-sizing: border-box; }

.ImgSignup {
    grid-column: 2 / 3;
} */

  nav{
    /* background-color: rgb(175, 195, 204); */
    /* width: 100vw; */
    align-items: center;
  }

  .grid-dashboard {
    display: grid;
    grid-template-areas: 
                          'header header header'
                          'hero hero hero'
                          'category category category';
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 50px;  
    height: 100vh;
  }
  
  /* .footer {  
    grid-area: footer;  
    display: flex;
    align-items:last baseline;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
    bottom:0px */
  /* } */
  .header {  
    grid-area: header;  
    /* display: flex;
    align-items:last baseline;
    justify-content: end;
    padding-left: 36px;
    padding-right: 36px; */
    list-style-type: none;
    background-color: black;
    color: white;
    grid-area: header;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 176px;
    padding-right: 176px;
    flex-direction: row;
  }
  
  .hero {  
    grid-area: hero;  
    display: flex;
    align-items: center;
    padding: 14px 30px;  
    /* height: 464px; */
  }

  .card-categorias{  
    grid-area: category;  

  } 
  
  .grid-category {
    grid-area: category;
    display: grid;
    grid-template-areas:
      'category category category category category category category'
      'category category category category category category category';
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 100vh; */
  }
