
.pageSignin {  
    display: flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 36px;
    background-color: white;
    height: 100vw;
    color: black;
  }
  
  
.signup {  
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    padding-left: 36px;
    padding-right: 36px;
    background-color: beige;
    height: 100vw;
  }

  nav{
    /* background-color: rgb(175, 195, 204); */
    /* width: 100vw; */
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-areas: 
                          'header header header'
                          'hero hero hero'
                          'category category category'
                          'footer footer footer';
    grid-template-columns: 240px 1fr 1fr;
    grid-template-rows: 70px 1fr 1fr 50px;  
    height: 100vh;
  }
  
  .footer {  
    grid-area: footer;  
    display: flex;
    align-items:last baseline;
    justify-content: center;
    padding-left: 36px;
    padding-right: 36px;
    bottom:0px
  }
  .header {  
    grid-area: header;  
    /* display: flex;
    align-items:last baseline;
    justify-content: end;
    padding-left: 36px;
    padding-right: 36px; */
    list-style-type: none;
    background-color: black;
    color: white;
    grid-area: header;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 176px;
    padding-right: 176px;
    flex-direction: row;
  }
  
  .hero {  
    grid-area: hero;  
    display: flex;
    align-items: center;
    padding: 14px 30px;  
    height: 464px;
  }

  .card-categorias{  
    grid-area: category;  

  } 
  
  .grid-category {
    grid-area: category;
    display: grid;
    grid-template-areas:
      'category category category category category category category'
      'category category category category category category category';
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* height: 100vh; */
  }
