/* Estilos padrão para telas grandes (desktops e laptops) */
.grid-signin {
    display: grid;
    grid-template-areas: "formsignin imgsignin";
    grid-template-columns: 60% 40%;

  }
  
  /* Estilos para tablets */
  @media screen and (max-width: 1024px) {
    .grid-signin {
      grid-template-columns: 50% 50%;
    }
  }
  
  /* Estilos para smartphones */
  @media screen and (max-width: 768px) {
    .grid-signin {
      grid-template-columns: 100%;
      grid-template-areas:  "imgsignin"
      "formsignin";
     grid-template-rows: 43% 57%;
    }
    .grid-signup {
      grid-template-columns: 100%;
      grid-template-areas:  "imgsignup"
      "formsignup";
     grid-template-rows: 43% 57%;
    }
    
.inputsdivSignup {
  display: grid;
  grid-template-columns: 1fr;

}
.imgh1Signup {
  display: flex;
  flex-direction: column;
}
.imgh1Signup {
  display: flex;
  flex-direction:column;
 
}


 /* Para telas grandes */
@media (min-width: 1200px) {
  .grid-dashboard {
    grid-template-areas:
      "header header header"
      "counter counter counter"
      "map category category";
    grid-template-rows: 8.75rem 3.125rem auto;
    width: 100%;
  }

  .card-categorias {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
  }
}

/* Para tablets */
@media (min-width: 768px) and (max-width: 1199px) {
  .grid-dashboard {
    grid-template-areas:
      "header header header"
      "counter counter counter"
      "map category category";
    grid-template-rows: 8.75rem 3.125rem auto;
    width: 100%;
  }

  .card-categorias {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}

/* Para celulares */
@media (max-width: 767px) {
  .grid-dashboard {
    grid-template-areas:
      "counter"
      "category";
    grid-template-rows: 8.75rem 3.125rem auto auto;
    width: 100%;
  }

  .card-categorias {
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
  }
}