


.listspots {
  display: flex;
  flex-direction: column;
  gap: 35px; /* Espaço entre as linhas */
  padding: 15px;
  height: fit-content;
  border-radius: 5px;
  margin: 0 140px;
  min-width: 850px;
  color: rgb(13, 38, 57);
  margin-top: 5%  
  /* background: rgb(239, 243, 222); */
}
.listspots h1{
  color: rgb(13, 38, 57);
  background: rgb(239, 243, 222, 0.8);
  padding: 0;
  text-align: center;
}
.list-categorias {
  /* display: flex; */
  /* flex-direction: column; */
  row-gap: 10px; 
  /* background-color: transparent;  */
}

/* .list-category {
 
  padding: 10px;
  border: 1px solid #ddd; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
} */
.list-category{
  /* display: grid; */
  /* grid-template-columns: repeat(6, 1fr); */
  gap: 10px; 
  background: rgb(239, 243, 222); 
     /* background-color:  rgba(40, 57, 13, 0.2); */
    /* min-width: 700px; */
    height: 50px;
    align-items: center;
    border-radius: 5px;
 /* padding-left: 18px;
    padding-right: 18px; */
    border-radius: 8px; */
}
.list-category:hover{
    background-color: rgb(192, 224, 226);
    color:rgb(13, 38, 57);
}

.list-categoria-txt {
font-size: small;
text-align: center;

}

.listspots th {
color: white;
background-color: rgb(13, 38, 57, 0.8);
height: 50px;
font-size: 17px;

}
.list-category td {
  padding: 8px;
  border:none;

}

.list-category a,
.list-category button {
  border: none;
  background: none;
  cursor: pointer;
}

.list-category a:hover,
.list-category button:hover {
  color: #007bff; 
}

.list-category a {
  text-decoration: none;
  color: #007bff; }

.list-category button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
} */

.list-category button:hover {
  color: #dc3545; /* Cor ao passar o mouse sobre o botão de apagar */
}