.Header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  transition: background 0.5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  flex-direction: row;
  margin-top: 30px;
  list-style-type: none;
  padding-right: 176px;
  row-gap: 180px;
  height: 95px;
}

.Header:hover {
  background: rgb(239, 243, 222, 0.8);
  color: #0f3a5d;
}

.Header--navLeft {
  display: flex;
  align-items: center;
  margin-left: 80px;
  color: #0f3a5d;
}

.Header--navLeft a {
  margin-right: 10px;
  padding-left: 80px;
  padding-right: 70px;
  text-decoration: none;
  font-size: 17px;
  color: rgba(231, 234, 235, 0.8);
  font-weight: bolder;
  text-transform: uppercase;
  transition: color 0.3s ease;
  text-shadow: 2px 1px 1px rgb(58, 58, 60);
}

.Header--navLeft:hover a {
  color: #0f3a5d;
  text-shadow: none
  
}

.Header--navLeft a:hover {
  color: rgb(80, 78, 78);
  text-shadow: none

}

.Header--navLeft .logodash {
  height: 70px;
  width: 100px;
  background-image: url("logotripflowe.png");
  background-size: cover;
  padding-left: 70px;
  padding-bottom: 10px;
}

.Header--navLeft:hover .logodash {
  background-image: url("logotripflow.png");
  padding-bottom: 18px;
}

.Header--navLeft:hover button {
  background-color: #eef7d2;
}

.Header--navLeft button {
  background: white;
  color: #000;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.3);
}

.Header--navLeft button:hover {
  background: rgb(135, 211, 208, 0.4);
}
