

    .Header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: transparent;
        transition: background 0.5s ease;
        display:flex;
 
        justify-content: space-between; 
        align-items: center;
        z-index: 1000;
      flex-direction: row;
  

      }
      
      .Header:hover {
        background: rgba(238, 247, 210, 0.8);
      }
      
      .Header--navLeft {
        display: flex;
        align-items: center;
        /* margin-top: 20px; */
        /* padding: 10px; */
        /* margin-bottom: 25px; */
        /* padding-left:180px; */
        margin-left: 80px;
        flex-wrap: nowrap
      }
      
 
      .Header--navLeft img {
        height: 100px;
        padding-left: 70px

      }
      
      .Header--navLeft a {

        margin-right: 10px;
        /* margin-left:25px; */
        padding-left: 100px;
        padding-right: 100px;
        text-decoration: none;
font-size: 17px;        color: #0f3a5d;
font-weight:bolder;
text-transform: uppercase;
        transition: color 0.3s ease;
/* margin-left: 30px */
      }
      
      .Header--navLeft a:hover {
        color: gray;
      }

      .Header--navLeft .logodash {
  height: 70px;
  width: 100px; /* Defina a largura da imagem */
  background-image: url('logotripflowe.png');
  background-size: cover;
  padding-left: 70px;
  padding-bottom: 10px
}

.Header--navLeft:hover  .logodash{
  background-image: url('logotripflow.png');
  padding-bottom: 18px
}

.Header--navLeft button {
  background-color: #eef7d2; /* Cor de fundo verde */
  color: #000; /* Cor do texto preto */
  border: none; /* Remove a borda padrão */
  padding: 10px 20px; /* Adiciona algum padding */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  display: inline-block;
  font-size: 10px;
  margin: 4px 20px;
  cursor: pointer; /* Muda o cursor para um ponteiro quando você passa o mouse sobre */
  transition: background-color 0.3s ease; /* Adiciona uma transição suave ao mudar a cor de fundo */
}

.Header--navLeft button:hover {
  background-color: #86D2D2 /* Muda a cor de fundo quando você passa o mouse sobre */
}